* {
	box-sizing: border-box;
}

.jumbotron {
	background-color: black;
	color: white;
	background-image: url("https://www.travelalaska.com/~/media/Images/TravelAlaska/Content/GettingAround/TravelWithin/train1.jpg?w=950");
}

.panel .panel-heading {
	background-color: #2c3e50;
	color: white;
}

#train-schedule {
	width: 100%;
}


th {
	font-weight: bold;
	padding-bottom: 10px;
}

td {
	padding-bottom: 10px;
}